@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/LostBeard/SpawnDev.ILGPU.ML" target="_blank">GitHub</a>
            <a href="https://www.nuget.org/packages/SpawnDev.ILGPU.ML" target="_blank">NuGet</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
